
<html>
<head>
  <meta charset="utf-8">
  <title>Table Example</title>
  <!-- Link to Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Table Example</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < users.length; i++) { %>
          <tr>
            <td><%= users[i].name %></td>
            <td><%= users[i].phone %></td>
            <td><%= users[i].email %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <!-- Link to Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>