<%- include('../layouts/header.ejs') %>
  <div class="preloader"></div>

  
<title>UL</title>
  <div class="container">
    <header>
      <nav class="navbar-sign">
        <img src="/image/ul2.jpg" alt="" class="UL-img"/>
    </nav>
    </header>
    <div class="row">
    <h1>Signup Form</h1>
        
    <form class="total-form" method="post" action="/signup">
      <div class="signup-form">
        <input type="text" placeholder="enter name" name="name" class="sig-input">
        <input type="text" placeholder="enter mobile no." name="mobile" class="sig-input">
      </div>
      <div class="signup-form">
        <input type="email" name="email" class="sig-input" placeholder="enter email">
        <!-- <input type="password" placeholder="confirm password" name="password" class="sig-input"> -->
      </div>

      <div class="signup-form">
      <input type="password" name="password" class="sig-input" placeholder="enter a strong password">
      <!-- <input type="password" placeholder="confirm password" name="password" class="sig-input"> -->
    </div>

      <button type="submit">Log in</button>
      <%
  if(typeof message !== 'undefined'){
    %>
    <p style="color:green;"> <%= message %></p>
    <%
  }
  
  %>
    </form>
  </div>
  </div>

 
  

  <%- include('../layouts/footer.ejs') %>
