 <%-include('../layouts/header.ejs') %>

<link rel="stylesheet" href="user/ccs/log.css">

<div class="preloader"></div>

  

  <div class="container">
    <header>
      <nav class="navbar-sign">
        <img src="/img/WhatsApp Image 2023-03-08 at 12.07.14.jpg" alt="" class="UL-img"/>
    </nav>
    </header>
    <div class="row">
    <!-- <h1>Signup Form</h1> -->
    <h1>Login</h1>   
    <% 
         if(typeof message !=='undefined'){
      %>
      <h4 style="color: red;" ><%= message %></h4>
      <%
      }
      %>
    <form class="total-form" method="post" action="/login">
      <div class="signup-form">
      </div>
      <input type="email" placeholder="Email address" class="sig-input" name="email">
      <div class="signup-form">
      <input type="password" name="password" class="sig-input" placeholder="enter a strong password" >   
    </div>
      <button type="submit" value="login">Log in</button>
      <p>If you don't have account just signup here   <a href="/signup"style="text-decoration: none;">  Become a Mmember /</a><a href="/verification-form" style="text-decoration: none;"> Login with otp</a></p>
      
    <br>
    <br>
    <br>
    <br>
    <p>Become a member — don’t miss out on deals, offers, discounts and bonus vouchers.</p>
       
      
      <!-- <a href="/verification" >verification</a> -->
    </form>

    <!-- <form method="post" action="/login">

      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="Passwoer">
      <button type="submit">login</button> -->
      

    </form>
  </div>
  </div>
 

<%-include('../layouts/footer.ejs') %> 